.page-body {
    background-color: lime;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #eeff00;
    text-align: center;    
}

.title {
    font-size: 50px;
    color: #984b45;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-style: normal;
      
}

.subtitle {
    color: #984b45;
    font-size: 15px;
    text-align: center;  
}

.centered_matches {
    text-align: center;
}

.time {
    font-size: 16px;
    color: #976b44;
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.players {
    font-size: 60px;
    color: #eac479;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.players-small {
    font-size: 40px;
    color: #eac479;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.tournament {
    font-size: 16px;
    color: #976b44;
    font-family: "Yantramanav", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.NextOpponent {
    font-size: 16px;
    color: #eac479;
    font-family: "Yantramanav", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roundedRec { /*rounded rectangle behind text*/
    position: relative;
    padding: 30px;
    background-color: #222a37; /* Color of the rounded rectangle */
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: add a subtle shadow */
}

.yantramanav-thin {
  font-family: "Yantramanav", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.yantramanav-light {
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.yantramanav-regular {
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.yantramanav-medium {
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.yantramanav-bold {
  font-family: "Yantramanav", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.yantramanav-black {
  font-family: "Yantramanav", sans-serif;
  font-weight: 900;
  font-style: normal;
}