<!DOCTYPE html>
<html>
<head>
    <title>Current Matches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body class="page-body">
    <span class="title">Upcoming Matches</span><br>
    <span class="subtitle">(All times approx.)</span>
    <div id="matches">
       
    </div>
</body>
    <script>
      function update_scoreboard(player_list) {
          console.log('updating Scoreboard')
          player_list = player_list.slice(0, 9);
          var high_scores_html = "";
          
          $.each( player_list, function( i, player ) {
            player_data = 
              `
              <span class="players-small">${player.player1} vs ${player.player2}</span> <br>
              <span class="time">${player.time}</span>  
              <span class="tournament">(${player.tournament})</span>
              <span class="NextOpponent">${player.NextOpp}</span>`;
              ;
              high_scores_html += '<p class="centered_matches">' + player_data + '</p>\n</span>'
          });
          $('#matches').html(high_scores_html)
      };
  
      function get_scores() {
          $.ajax({
            url: '/matches_data.json',
            cache: false,
            error: function(){
              update_scoreboard([]);
            },
            success: function(player_list){
              update_scoreboard(player_list);
            },
          });
      };
  
     
      get_scores();
      console.log('hi mom');
      setInterval(get_scores, 20000);
    </script>
</html>