<!DOCTYPE html>
<html>
<head>
    <title>Filtered Matches</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body class="page-body">
  <div class="roundedRec"> <!-- for rounded rectangle in the background... comment this and it's /div if not needed -->
    <span class="title">Key Matches</span><br>
    <span class="subtitle">(Upcoming with future opponents listed)</span>
    <div id="matches">
        <!-- Match details for filtered matches will be dynamically injected here -->
    </div>
  </div>
</body>
<script>
  function update_scoreboard(match_list) {
    var matches_html = "";
    $.each(match_list, function(i, match) {
      var match_data = 
        `<div class="centered_matches">
          <span class="players">${match.player1} vs ${match.player2}</span> <br>
          <!--<span class="time">${match.time}</span>  -->
          <span class="tournament">(${match.tournament})</span>
          <span class="NextOpponent">${match.NxtName}</span>
        </div>`;
      matches_html += match_data;
    });
    $('#matches').html(matches_html);
  };

  function get_filtered_matches() {
    $.ajax({
      url: '/filtered_matches.json',
      cache: false,
      success: function(match_list){
        update_scoreboard(match_list);
      },
      error: function(){
        update_scoreboard([]);
      }
    });
  };

  $(document).ready(function(){
    get_filtered_matches();
    setInterval(get_filtered_matches, 20000); // Refresh every 20 seconds
  });
</script>
</html>